@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
  cursor: none;
}

/* custom-cursor.css */
.custom-cursor {
  position: absolute;
  width: 32px; 
  height: 32px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white
}


@layer base {
  h1 {
    @apply text-8xl text-primary font-bold;
  }

  h2 {
    @apply text-5xl text-accent font-bold;
  }

  h3 {
    @apply text-4xl text-primary font-semibold;
  }

  h4 {
    @apply text-xl text-accent;
  }

  h5 {
    @apply text-lg text-accent
  }

  h6 {
    @apply text-base text-accent
  }

  p {
    @apply text-xs text-accent
  }
}

.main-navbar {
  border-bottom: 1px solid #494949;
}

.active-link {
  border-bottom: 1px solid #641BA9;
}

/* home page css  */


.text-container {
  position: relative;
}

.home-heading {
  z-index: 1;
}

.circle {
  border-radius: 50%;
  background-color: black;
  height: 512px;
  width: 512px;
  position: absolute;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* image slider */

.wrapper {
  overflow-x: hidden;
}

.factsContainer {

  text-align: center;
  line-height: 10vh;
}

.factsContainer h2 {
  font-size: 1.8em;
  transform: scale(0);
  padding: 2em 0em;
  margin-bottom: 15vh;
  color: #F0C368;
}

.factsContainer_sm {
  display: flex;
  width: 300vw;
}

.fact {
  display: flex;
  flex-direction: column;
  height: 40vh;
  /* flex: 1; */
  /* padding: 1em; */
  align-items: center;
  color: #F0C368;
}

.fact img {
  /* width: 25vw;
    height: 25vh; */
  /* margin: 1em; */
}

.image-container {
  position: relative;
  display: inline-block;
  height: 30rem;
  width: 32.5rem;
  border-radius: 1.25rem;
  margin-right: 3.7rem;

}

.image-container img {
  height: 100%;
  border-radius: 1.25rem;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;

  /* background-color: rgba(0, 0, 0, 0.2); */
  color: white;
  text-align: left;
  /* padding: 10px; */
  box-sizing: border-box;
}


/* accordion css */

.container {
  padding: 200px;
}

.faq-drawer {
  margin-bottom: 30px;
}

.faq-drawer__content-wrapper {
  font-size: 1.25em;
  line-height: 1.4em;
  max-height: 0px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
}

.faq-drawer__title {
  border-top: #494949 1px solid;
  cursor: pointer;
  display: block;
  font-size: 34px;
  font-weight: 700;
  padding: 30px 0 0 0;
  position: relative;
  margin-bottom: 0;
  transition: all 0.25s ease-out;
  color: #494949;
}

.faq-drawer__title::after {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: " ";
  display: inline-block;
  float: right;
  height: 10px;
  left: 2px;
  position: relative;
  right: 20px;
  top: 2px;
  transform: rotate(135deg);
  transition: 0.35s ease-in-out;
  vertical-align: top;
  width: 10px;
}

/* OPTIONAL HOVER STATE */
.faq-drawer__title:hover {
  color: #4E4B52;
}

.faq-drawer__trigger:checked+.faq-drawer__title+.faq-drawer__content-wrapper {
  max-height: 350px;
}

.faq-drawer__trigger:checked+.faq-drawer__title::after {
  transform: rotate(-45deg);
  transition: 0.25s ease-in-out;
}

input[type="checkbox"] {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 80px;
  }
}


/* projects css */

.projects-container {
  display: flex;
  flex-direction: row;
  gap: 11rem;
}

.left-projects {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.left-one {
  height: 539px;
  width: 433px;
  background-color: #F0C368;
  border-radius: 1rem;
}

.left-two {
  height: 539px;
  width: 433px;
  background-color: #715928;
  border-radius: 1rem;

}

.right-projects {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  margin-top: 10rem;
}

.right-one {
  height: 539px;
  width: 433px;
  background-color: #82dcd0;
  border-radius: 1rem;

}

.right-two {
  height: 539px;
  width: 433px;
  background-color: #d899ea;
  border-radius: 1rem;

}

.blank_circle {
  border-radius: 50%;
  border: 1px solid #494949;
  height: 1000px;
  width: 1000px;
  position: relative;

}

/* .blank_circle {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  border-radius: 50%;
  position: relative;
} */

.small_circle {
  width: 100px;
  height: 100px;
  background-color: #641BA9;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  right: 25%;
}

.large_circle {
  width: 1000px;
  height: 1000px;
  background-color: #641BA9;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  right: -40%;
  overflow: hidden;
}

/* members css */

.members-main {
  background-color: #641BA9;
  padding: 112px;
}

.members-card {
  width: 31rem;
  height: 17.68rem;
  border-radius: 0rem 1.875rem 1.875rem 1.875rem;
  text-align: center;
  padding: 2.38rem;
  position: relative;
  margin-top: 8.2rem;
}

.members-img-0 {
  width: 9.375rem;
  height: 15.1875rem;
  border-radius: 6.25rem;
background: url('https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fG1vZGVsfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
background-size: cover;
background-position: center;
position: absolute;
top: -40%;
left: -10%;
}

.members-img-1 {
  width: 9.375rem;
  height: 15.1875rem;
  border-radius: 6.25rem;
background: url('https://images.unsplash.com/photo-1564485377539-4af72d1f6a2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fG1vZGVsfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60.');
background-size: cover;
background-position: center;
position: absolute;
top: -40%;
left: -10%;
}

/* testimonial css */

.testimonial-section {
  background-color: white;
  height: 24rem;
  width: 71rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  position: relative;
}

.testimonial-photo {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
}

.testimonial-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 1rem;
  object-fit: cover;
}

/* contact css */

.contact-first {
  height: 50rem;
  width: 71rem;
  border: 2px solid #494949;
  border-radius: 3rem;
  position: relative;
}

.contact-second {
  height: 50rem;
  width: 71rem;
  border-radius: 3rem;
  position: absolute;
  left: -4rem;
  bottom: -4rem;
}

.contact-details {
  width: 60%;
  height: 100%;
  border-radius: 3rem;

}

.contact-form {
  background-color: #641BA9;
  width: 40%;
  height: 100%;
  border-radius: 3rem;
  margin-left: 2rem;
  border: 1px solid white;
  box-shadow: 4px 4px 4px 0px #494949;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.contact-map {
  height: 22rem;
  width : 100%;
  border-radius: 3rem;
  background-color: #641BA9;

  
}

.contact-links {
  border: 1px solid white;
  box-shadow: 4px 4px 4px 0px #494949;
  border-radius: 3rem;
  height: 25.375rem;
  margin-top: 3rem;
  width: 50%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  gap: 1rem;
}

.contact-list {
  list-style: disc; 
  color: #494949;
  margin-left: 1rem;
}

.contact-list li {
  margin-bottom: 1rem;
}

.contact-address {
  border: 1px solid white;
  box-shadow: 4px 4px 4px 0px #494949;
  border-radius: 3rem;
  height: 25.375rem;
  margin-top: 3rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2rem;
  text-align: center;
}

.contact-range {
  border: 1px solid #494949;
  height: 7rem;
  border-radius: 2rem;
}

.contact-submit {
  background-color: white;
  height: 3rem;
  border-radius: 2rem;
}

/* footer css */

.footer-sub {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}

/* footer css end */

/* works css start */

.work-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.left-work {
 display: flex;
 flex-direction: column;
 gap: 3rem;
}

.left-work-one {
  width: 35rem;
  overflow: hidden;
}

.left-work-one img {
  height: 100%;
  width: 100%;
}

.right-work-one {
  width: 40rem;
  overflow: hidden;
}

.right-work-one img {
  height: 100%;
  width: 100%;
}


.right-work {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left-work-one img,
.right-work-one img {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  transform: scale(1);
  transition: filter 0.3s ease, transform 0.3s ease;
}

/* Remove grayscale filter on hover */
.left-work-one img:hover,
.right-work-one img:hover {
  filter: none;
  transform: scale(1.1);
  transition: filter 0.3s ease, transform 0.5s ease;
}